BASE_URL = "Base url of the page"
URL  = "2nd version of the base URL of the page"
LOGIN_ENDPOINT = "Your login endpoint"
DASHBOARD_URL = ""
DATA_PATH = ""
LOGIN_PAGE_URL = ""
USER_EMAIL_FORGOT_PASSWORD_TEST = ""